* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  background-color: gray;
}
.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 96%;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  height: auto;
  /* background-color: brown; */
}
.slider-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-height: 500px;
  height: auto;
  margin-bottom: 15px;
  /* background-color: aqua; */
}
.img {
  position: relative;
  display: block;
  max-width: 100%;
  max-height: 500px;
  height: auto;
  border-radius: 33px;
  object-fit: cover;
}
.main-text {
  position: relative;
  left: 0;
}
.hide {
  display: none;
}
